---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await getCollection('blog');
---

<BaseLayout pageTitle="Blog">
  <ul class="max-w-max m-auto underline">
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    max-width: max-content;
    margin: auto;
    list-style: none;
    li {
      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
</style>
