*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: sans-serif;
  max-width: 50rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  font-size: inherit;
}
