*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

menu {
  list-style: none;
  display: flex;
  gap: 30px;
  li {
    text-decoration: underline;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

button {
  background-color: transparent;
}
