---
import BaseLayout from '../layouts/BaseLayout.astro';
import Welcome from '../components/Welcome.svelte';
import Form from '../components/Form.astro';
import Posts from '../components/Posts.astro';
---

<BaseLayout pageTitle="Homepage">
  <p class="text-center py-4">
    <span class="text-2xl text-center p-4">
      <span class="font-medium">Studiando: </span>Astro 5 +
    </span>
    <Welcome />
  </p>
  <Form />
  <Posts />
</BaseLayout>
