---
import BaseLayout from '../layouts/BaseLayout.astro';
import Welcome from '../components/Welcome.svelte';
import Form from '../components/Form.astro';
import Posts from '../components/Posts.astro';
---

<BaseLayout pageTitle="Homepage">
  <h2 class="text-center py-4">
    <span class="text-2xl text-center my-4">Studiando: Astro 5 +</span>
    <Welcome />
  </h2>
  <Form />
  <Posts />
</BaseLayout>
