---
import BaseLayout from '../layouts/BaseLayout.astro';
import Welcome from '../components/Welcome.svelte';

import Posts from '../components/Posts.astro';
---

<BaseLayout pageTitle="Home" heading1="Blog di informazione sullo sviluppo web">
  <p>
    <span>Studiando: </span>Astro 5 + <Welcome />
  </p>

  <Posts />
</BaseLayout>

<style>
  p {
    font-size: 1.5rem;
    text-align: center;
    padding: 4px;
    span:first-child {
      font-size: 1.7rem;
      font-weight: 300;
    }
  }
</style>
