---
import { auth } from '@utils/auth';

import Username from '@components/Username.svelte';
import SignInBtn from '@components/SignInBtn.svelte';

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
const username = session?.user?.name;
---

<section id="authentication">
  {
    username ? (
      <Username username={username} client:load />
    ) : (
      <SignInBtn client:load />
    )
  }
</section>
<style>
  #authentication {
    align-self: end;
  }
</style>

<script>
  const signin = document.getElementById('signin');
  const btns = document.getElementById('btns');
  const buttons = btns?.querySelectorAll('button');

  signin?.addEventListener('click', (e) => {
    btns?.classList.toggle('open');
    buttons?.forEach((button) => button.toggleAttribute('disabled'));
  });
</script>
