---
import { auth } from '@utils/auth';

import Username from '@components/Username.svelte';
import SignInBtn from '@components/SignInBtn.svelte';

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
const username = session?.user?.name;
const email = session?.user?.email;
---

<section id="authentication">
  {
    username ? (
      <Username username={username} email={email} client:load />
    ) : (
      <SignInBtn client:load />
    )
  }
</section>
<style>
  #authentication {
    align-self: end;
  }
</style>
