---
import Authentication from '@components/Authentication.astro';
---

<header>
  <menu>
    <li><a href="/">Home</a></li>
    <li><a href="/add-post">Add Post</a></li>
    <li><a href="/dogs">Dogs</a></li>
    <li><a href="/blog">Blog</a></li>
  </menu>
  <Authentication />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4px;
    gap: 1rem;
    @media screen and (min-width: 30rem) {
      padding: 1rem 2rem;
      justify-content: space-between;
      flex-direction: row;
    }

    menu {
      position: relative;
      display: flex;
      align-items: center;
      order: 2;
      z-index: 5;
      gap: 1rem;
      li {
        a {
          font-size: 1.125rem;
          text-decoration: underline;
        }
      }
      @media screen and (min-width: 30rem) {
        order: 0;
      }
    }
  }
</style>

<script>
  // const { signIn, signOut } = await import('auth-astro/client');
  // (document.querySelector('#login')! as HTMLButtonElement).onclick = () =>
  //   signIn('github');
  // (document.querySelector('#logout')! as HTMLButtonElement).onclick = () =>
  //   signOut();
</script>
