---
const path = Astro.url.pathname;
const { href } = Astro.props;
---

<a aria-current={path === href} href={href}><slot /></a>

<style>
  a {
    @media screen and (min-width: 30rem) {
      font-size: 1.2rem;
    }
    &[aria-current='true'] {
      text-decoration: underline;
      font-weight: bold;
    }
  }
</style>
