---
const path = Astro.url.pathname;
const { href } = Astro.props;
---

<a class={path === href ? 'active' : ''} href={href}><slot /></a>

<style>
  a {
    font-size: 1.2rem;
    font-weight: normal;
    @media screen and (min-width: 30rem) {
      font-size: 1.5rem;
    }
    &.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
</style>
