<menu class="flex gap-8 pl-4 pb-4">
  <li><a class="text-lg underline" href="/">Home</a></li>
  <li><a class="text-lg underline" href="/add-post">Add Post</a></li>
  <li><a class="text-lg underline" href="/dogs">Dogs</a></li>
</menu>
