---
import { auth } from '@utils/auth';
import Link from './Link.astro';

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});

const email = session?.user?.email;

const admin =
  (email === 'pedrottimail@gmail.com' || email === 'unibox@duck.com') &&
  session?.user.emailVerified;
---

<menu>
  <Link href="/">Home</Link>

  {admin && <Link href="/add-post">Add Post</Link>}
  <!-- <li><a href="/dogs">Dogs</a></li> -->
  <Link href="/blog">Blog</Link>

  <style>
    menu {
      position: relative;
      display: flex;
      align-items: center;
      order: 2;
      z-index: 5;
      gap: 2rem;

      @media screen and (min-width: 30rem) {
        order: 0;
      }
    }
  </style>
</menu>
