---
import Authentication from './Authentication.astro';
const { title } = Astro.props;
---

<div class="flex flex-wrap items-center justify-between py-4 gap-y-4">
  <menu class="relative flex justify-center order-2 gap-8 px-2 z-5">
    <li><a class="text-lg underline" href="/">Home</a></li>
    <li><a class="text-lg underline" href="/add-post">Add Post</a></li>
    <li><a class="text-lg underline" href="/dogs">Dogs</a></li>
    <li><a class="text-lg underline" href="/blog">Blog</a></li>
  </menu>
  <Authentication />
</div>
<h1 class="mb-4 text-4xl text-center">{title}</h1>

<script>
  // const { signIn, signOut } = await import('auth-astro/client');
  // (document.querySelector('#login')! as HTMLButtonElement).onclick = () =>
  //   signIn('github');
  // (document.querySelector('#logout')! as HTMLButtonElement).onclick = () =>
  //   signOut();
</script>
