---
export const prerender = false;
import { turso } from '../turso';
import PostCard from './PostCard.astro';

const { rows: posts } = await turso.execute('select * from posts');
const options: Intl.DateTimeFormatOptions = {
  weekday: 'long',
  day: '2-digit',
  month: 'short',
  year: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
  timeZone: 'Europe/Rome',
};
function createDate(str: string) {
  const date: Date = new Date(str.split(' ').join('T') + '.000Z');
  return new Intl.DateTimeFormat('it-IT', options).format(date);
}
---

<h2>Posts</h2>
<div id="posts" class="max-w-90 m-auto">
  {
    posts.map((post: any) => {
      const createdAt = createDate(post.created_at);
      const updatedAt = createDate(post.updated_at);

      return <PostCard post={post} create={createdAt} update={updatedAt} />;
    })
  }
</div>

<style>
  h2 {
    font-size: 1.2rem;
    text-align: center;
    padding: 2;
    font-weight: bold;
  }
  #posts {
    max-width: 30rem;
    margin: auto;
  }
</style>
