---
import { getCollection } from 'astro:content';
import slugify from 'slugify';
import BaseLayout from '../../layouts/BaseLayout.astro';

const dogs = await getCollection('dogs');
---

<BaseLayout pageTitle="Dogs">
  <ul class="list-none m-auto max-w-max">
    {
      dogs.map((dog) => {
        const breed = slugify(dog.data.breed, { lower: true, trim: true });
        return (
          <li class="my-2 underline">
            <a class="text-blue-800" href={`dogs/${breed}`}>
              {dog.data.breed}
            </a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
