---
import { getCollection } from 'astro:content';
import slugify from 'slugify';
import BaseLayout from '../../layouts/BaseLayout.astro';

const dogs = await getCollection('dogs');
---

<BaseLayout pageTitle="Dogs">
  <ul>
    {
      dogs.map((dog) => {
        const breed = slugify(dog.data.breed, { lower: true, trim: true });
        return (
          <li>
            <a href={`dogs/${breed}`}>{dog.data.breed}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>

<style>
  ul {
    margin: auto;
    max-width: max-content;
    list-style: none;
    li {
      margin: 8px;
      a {
        text-decoration: underline;
        color: blue;
      }
    }
  }
</style>
