---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Header from '../components/Header.astro';
const { pageTitle, heading1 = pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Sviluppo Web | {pageTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <h1>{heading1}</h1>
    <slot />
  </body>
</html>

<style>
  h1 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    text-align: center;
  }
</style>

<script>
  const dropdown = document.getElementById('dropdown');
  const btns = document.getElementById('btns');

  document.addEventListener('click', (e: Event) => {
    if (!dropdown?.contains(e.target as Node)) {
      btns?.classList.remove('open');
    }
  });
</script>
